In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [88]:
# Status
model = ['vector', 'onestep']
dataframe = pd.DataFrame(columns=['model', 'high_scores','mean_last_100', 'games','epsilon', 'steps', 'progress'])

for name in model:
    file_path = f'DQL_PLOT/TEST_PLOTS/{name}_training_17_01.pkl'
    with open(file_path, 'rb') as file:
        data_load = pickle.load(file)
        data_load = np.array(data_load)

    new_row = {'model': [name],
            'high_scores': np.max(data_load[0]),
            'mean_last_100': np.mean(data_load[0][-100:]),
            'games': np.size(data_load[0]),
            'epsilon': [data_load[-1, -1]],
            'steps': np.sum(data_load[1]),
            'progress': f"{np.round((np.sum(data_load[1]) / 30_000_000)*100,2)}%"
            }
    
    new_row = pd.DataFrame(new_row)
    
    dataframe = pd.concat([dataframe, new_row], axis=0, ignore_index=True)

dataframe

C:\Users\vietn\AppData\Local\Temp\ipykernel_18284\894709016.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, new_row], axis=0, ignore_index=True)

     model  high_scores  mean_last_100  games   epsilon      steps progress
0   vector         40.0            4.4  21500  0.623913  1572480.0    5.24%
1  onestep         20.0            1.4   7750  0.857145   513827.0    1.71%

In [80]:
# Bedste reward

df = pd.read_pickle('TQL\metric_files\metric_test_16_01.pkl')

sorted = df[['mean_score', 'step_punish', 'apple_reward', 'death_punish', 'closer_reward',
       'mean_score_mid', 'mean_apple_mid']]

# print(df.head(0))

display(sorted.sort_values('mean_score_mid', ascending=False).head(20))
display(sorted.sort_values('mean_score_mid', ascending=True).head(10))

len(df)

,mean_score,step_punish,apple_reward,death_punish,closer_reward,mean_score_mid,mean_apple_mid
8,"[159.13053301118015, 185.26946698881983]",3,132,-195,-1,172.200000,27.217284
1,"[155.5678160091133, 177.1321839908867]",-3,87,-268,2,166.350000,23.978316
7,"[141.83687068922546, 164.71312931077455]",-5,60,-120,5,153.275000,24.558149
0,"[140.53023944460548, 165.3697605553945]",1,69,-281,1,152.950000,31.572254
9,"[129.71765072964146, 154.53234927035854]",-2,147,-88,1,142.125000,26.414142
10,"[125.22722566175275, 149.64550161097452]",-1,83,-269,1,137.436364,25.765075
11,"[121.73796907564807, 145.5036975910186]",-3,127,-145,5,133.620833,24.761206
6,"[120.47533360153855, 145.41038068417575]",-1,113,-277,1,132.942857,26.522430
46,"[114.25516706510827, 142.84696059446622]",4,83,-262,2,128.551064,30.723409
43,"[113.82878468044032, 142.5484880468324]",5,70,-130,-3,128.188636,31.002132
49,"[113.71198760810346, 142.21001239189656]",1,147,-160,2,127.961000,30.746083
47,"[113.40309294347583, 141.8802403898575]",2,84,-276,-3,127.641667,30.627679
84,"[113.7137753977873, 141.25916577868327]",1,121,-61,-1,127.486471,29.438603
48,"[113.02015431374349, 141.48800895156262]",-3,92,-172,-3,127.254082,30.683367
85,"[113.14320389738319, 140.80214493982612]",1,69,-111,-4,126.972674,29.460545
41,"[112.76879646685465, 141.12167972362153]",-4,133,-157,4,126.945238,30.331088
45,"[112.83866089094744, 140.91351302209605]",-1,96,-297,5,126.876087,30.485450
3,"[115.10161740503456, 137.97338259496541]",3,96,-298,-3,126.537500,26.749180
65,"[112.41989969583267, 140.50888818295522]",2,130,-89,0,126.464394,30.532164
55,"[112.38459021798883, 140.53683835343975]",5,126,-182,-2,126.460714,30.338834

,mean_score,step_punish,apple_reward,death_punish,closer_reward,mean_score_mid,mean_apple_mid
17,"[77.02868486071216, 98.29909291706562]",-1,84,-202,-5,87.663889,25.647616
4,"[77.70999348119484, 100.51000651880516]",-2,62,-267,-2,89.110000,27.571715
25,"[78.04153306479282, 103.90077462751486]",1,111,-66,-2,90.971154,28.640624
32,"[79.8938036524121, 104.78801452940608]",-3,104,-285,-1,92.340909,29.654878
24,"[79.41903132517223, 105.34096867482776]",1,101,-124,-5,92.380000,28.540427
16,"[87.24716230589956, 108.98813181174751]",-2,142,-177,-5,98.117647,25.610504
33,"[86.81060796995698, 111.90115673592538]",-1,111,-250,1,99.355882,29.111903
26,"[86.14998931083258, 113.74630698546372]",5,63,-75,-2,99.948148,29.750151
18,"[88.01212875435857, 112.36155545616774]",5,137,-293,2,100.186842,26.719567
14,"[90.56990793902747, 110.6767587276392]",-2,122,-254,4,100.623333,24.520110

354