In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [16]:
# Status
model = ['grid']
dataframe = pd.DataFrame(columns=['model', 'high_scores','mean_last_100', 'games','epsilon', 'steps', 'progress'])

for name in model:
    file_path = f'DQL_PLOT/TEST_PLOTS/{name}_training_18_01.pkl'
    with open(file_path, 'rb') as file:
        data_load = pickle.load(file)
        data_load = np.array(data_load)

    new_row = {'model': [name],
            'high_scores': np.max(data_load[0]),
            'mean_last_100': np.mean(data_load[0][-10:]),
            'games': np.size(data_load[0]),
            'epsilon': [data_load[-1, -1]],
            'steps': np.sum(data_load[1]),
            'progress': f"{np.round((np.sum(data_load[1]) / 30_000_000)*100,2)}%"
            }
    
    new_row = pd.DataFrame(new_row)
    
    dataframe = pd.concat([dataframe, new_row], axis=0, ignore_index=True)

dataframe

C:\Users\vietn\AppData\Local\Temp\ipykernel_18808\1986934387.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, new_row], axis=0, ignore_index=True)

  model  high_scores  mean_last_100   games  epsilon       steps progress
0  grid         50.0            3.0  189500     0.01  22619069.0    75.4%

In [29]:
df = pd.read_pickle('TQL\metric_files\metric_test_16_01.pkl')
print(df.columns)
df = df[['mean_score', 'step_punish', 'apple_reward', 'death_punish', 'closer_reward','mean_score_mid', 'mean_apple_mid']]

df.sort_values(by=['mean_score_mid'], inplace=True, ascending=False)

df.head(10)

Index(['index', 'mean_score', 'mean_time_apple', 'runs', 'file_path',
       'step_punish', 'apple_reward', 'death_punish', 'closer_reward',
       'mean_score_mid', 'mean_apple_mid'],
      dtype='object')

,mean_score,step_punish,apple_reward,death_punish,closer_reward,mean_score_mid,mean_apple_mid
8,"[159.13053301118015, 185.26946698881983]",3,132,-195,-1,172.200000,27.217284
1,"[155.5678160091133, 177.1321839908867]",-3,87,-268,2,166.350000,23.978316
7,"[141.83687068922546, 164.71312931077455]",-5,60,-120,5,153.275000,24.558149
0,"[140.53023944460548, 165.3697605553945]",1,69,-281,1,152.950000,31.572254
9,"[129.71765072964146, 154.53234927035854]",-2,147,-88,1,142.125000,26.414142
10,"[125.22722566175275, 149.64550161097452]",-1,83,-269,1,137.436364,25.765075
11,"[121.73796907564807, 145.5036975910186]",-3,127,-145,5,133.620833,24.761206
6,"[120.47533360153855, 145.41038068417575]",-1,113,-277,1,132.942857,26.522430
46,"[114.25516706510827, 142.84696059446622]",4,83,-262,2,128.551064,30.723409
43,"[113.82878468044032, 142.5484880468324]",5,70,-130,-3,128.188636,31.002132